;
; BIND data file for local zone {{ hostname }}.{{ domain_name }};
$TTL    15M
$ORIGIN {{ hostname }}.{{ domain_name }}.
@       IN      SOA    ns1.{{ hostname }}.{{ domain_name }}. root.{{ hostname }}.{{ domain_name }}. (
      {{ ansible_date_time.epoch | int }} ; Serial
      15M ; Refresh
      5M ; Retry
      120M ; Expire
      600 ) ; Negative Cache TTL
@              IN      NS      ns1
@              IN      A       {{ external_ip }}
ns1            IN      A       {{ external_ip }}
{{ hostname }}         IN      A       {{ external_ip }}
